<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Spoils.WPF_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Spoils.WPF_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISpoil_Service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:20832/Spoil_Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpoil_Service"
                contract="Spoils_ServiceReference1.ISpoil_Service" name="BasicHttpBinding_ISpoil_Service" />
        </client>
    </system.serviceModel>
    <userSettings>
        <Spoils.WPF_UI.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM5</value>
            </setting>
        </Spoils.WPF_UI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Spoils.WPF_UI.Properties.Settings>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DtrEnable" serializeAs="String">
                <value>True</value>
            </setting>
        </Spoils.WPF_UI.Properties.Settings>
    </applicationSettings>
</configuration>